<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Microbit Interface</title>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index">Startpage</a></li>
            <li><a href="makeroom.html">Make a room</a></li>
            <li><a href="input">Statistics</a></li>
        </ul>
    </nav>

<h1>Startpage</h1>


</body>
</html>
