<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Microbit Interface</title>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index">Startsida</a></li>
            <li><a href="makeroom.html">Make a room</a></li>
            <li><a href="input">Statistics</a></li>
        </ul>
    </nav>

<h1>Information of all Microbits</h1>
<form action="/stats">
    Choose how many Microbits that you want to see.<br><br>
    <input type="number" name="limit" min="1" max="10"><br><br>
    <input type="submit" value="Next"><br><br>
</form>

</body>
</html>
