<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Microbit Interface</title>
<link rel="stylesheet" href="/style/style.css">
<script type="text/javascript" src="../src/functions.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index">Startsida</a></li>
            <li><a href="room">Make a room</a></li>
            <li><a href="input">Statistics</a></li>
        </ul>
    </nav>

<h1>Your room</h1>
<div id="main"></div>
</body>
</html>
