<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Microbit Interface</title>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index">Startpage</a></li>
            <li><a href="makeroom.ejs">Make a room</a></li>
            <li><a href="input">Statistics</a></li>
        </ul>
    </nav>

<h1>Information of all Microbits</h1>
<table>
        <tr>
            <th>ID</th>
            <th>Temperature</th>
            <th>Light Condition</th>
            <th>Timestamp</th>
        </tr>
            <% for (const row of res) { %>
            <tr>
            <td> <%= row.id %> </td>
            <td> <%= row.temp %> </td>
            <td> <%= row.light %> </td>
            <td> <%= row.time %> </td>
            </tr>
            <% }; %>
    </table>
</body>
</html>
