@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');


html {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    background-image: url("background-test.jpg");
}

.navbar {
    width: 50%;
    padding: 30px;
}

.navbar ul {
    list-style: none;
}

.navbar a:visited a:link {
    color: black;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

.navbar a:active {
    border-bottom: 2px solid black;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

#micro {
    width: 50px;
    height: 40px;
    background-image: url("microbit.png");
    display: block;
    touch-action: none;
    user-select: none;
}

#micro:active {
      background-color: rgba(168, 218, 220, 1.00);
    }

#micro:hover {
     cursor: pointer;
     border-width: 20px;
    }

#room {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: grey;
    color: white;
    border: solid;
    border-color: black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 10px;
}

#info {
    color: white;
    width: 250px;
    height: 350px;
    background-color: grey;
    border: solid;
    border-color: black;
    float: right;
    margin-bottom: 100px;
}

#frm1 {
    max-width: 250px;
}

.data {
    display: none;
}

.con {
    width: 250px;
    display: block;
    background-color: rgba(41, 63, 123, 0.9);
    align-items: center;
    height: 270px;
}

.con h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 7px;
}

.con p {
    text-align: center;
}

#frm1 label{
	display: block;
	margin-bottom: 10px;
    font-family: 'Russo One', sans-serif;
}
#frm1 label > span{
	/* float: left; */
	width: 120px;
	color: black;
	font-weight: bold;
	font-size: 13px;
    margin-left: 25px;
}

#frm1 input[type=text] {
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(89, 89, 89);
	outline: none;
	color: black;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px rgb(89, 89, 89);
	-moz-box-shadow: inset 1px 1px 4px rgb(89, 89, 89);
	-webkit-box-shadow: inset 1px 1px 4px rgb(89, 89, 89);
	background: rgb(89, 89, 89, 0.1);
	width:50%;
    font-family: 'Russo One', sans-serif;
    margin-left: 10px;
}

.btn {
    font-family: 'Russo One', sans-serif;
    background: rgb(89, 89, 89, 0.1);
	border: 1px solid black;
	padding: 5px 15px 5px 15px;
	color: black;
	box-shadow: inset -1px -1px 3px rgb(89, 89, 89);
	-moz-box-shadow: inset -1px -1px 3px rgb(89, 89, 89);
	-webkit-box-shadow: inset -1px -1px 3px rgb(89, 89, 89);
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
    width: 80px;
    margin-left: 25px;
    left: 50%;
}